<header class="page-header">
  <div class="header-block-container">
    <% if current_user.present? %>
    <h1>Editing Book</h1>
<%= link_to "Button Text", edit_book_path, class: 'button' %>
	  <% end %>
	<% end %>

	  
  </div>
</header>

<div class="form-block-container">
  <div class="card">
    <%= render 'form', book: @book %>
  </div>
</div>
