<header class="page-header">
	<div class="header-block-container">
		<h1>New Book</h1>
		<% if current_user.present? %>
			<%= link_to '+ New Book', books_path, class: 'button-white-outline' %>
		<% end %>
	</div>
</header>

<div class="form-block-container">
	<div class="card">
		<%= render 'form', book: @book %>
	</div>
</div>