<header class="page-header">
	<div class="header-block-container">
		<h1>New Review</h1>
		<% if current_user.present? %>
			<%= link_to 'Back', books_path, class: "button-primary" %>
		<% end %>
	</div>
</header>

<div class="form-block-container">
	<div class="card">
		<%= render 'form', review: @review %>
	</div>
</div>